@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Homemade+Apple&display=swap');

:root {
    --logo-font: "Homeade Apple", cursive;
    --main-font: "Dongle", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    background-color: #1B1B1B;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

header .left,
header .right {
    display: flex;
    flex-direction: row;
}

header .left,
header .right {
    color: #FFFFFF;
    gap: 19px;
}

header .left h3 {
    font-family: 'Homemade Apple', cursive;
    font-weight: 100;
    width: 150px;
    line-height: 115%;
    text-align: center;
    align-content: center;
}

header .left button,
header .right button {
    background-color: transparent;
    border: none;

    font-family: var(--main-font);
    font-size: 25px;
    color: #E4E4DE;
    font-weight: 100;
    cursor: pointer;
}

header .left button:hover {
    text-decoration: underline;
}

header .right button {
    border: 1px white solid;
    border-radius: 50px;
    height: 45px;
    padding: 0 20px 0 20px;
    font-size: 36px;
    text-align: center;
    transition: .2s;
}

header .right button:hover {
    transition: .2s;
    background-color: white;
    color: #1B1B1B;
}

.content {
    width: 100%;
    height: 100vh;
}

/* Home */
.green-background {
    width: 100%;
    height: 50%;
    background-color: #595f39;
    position: absolute;
    z-index: -1;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.content__main-image {
    width: 448px;
}